<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ripudaman.measurefirmnessandwp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bed Firmness and Noise Ambience"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MeasureFirmness"
            android:label="@string/title_activity_measure_firmness"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MeasureNoise"
            android:label="@string/title_activity_noise"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".NoiseSetupPage"
            android:label="Setup Record Time"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>